<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622592598362-6dh9t5vgjocjugs3b83jb9curijop6fj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622592598362-6dh9t5vgjocjugs3b83jb9curijop6fj</string>
	<key>API_KEY</key>
	<string>AIzaSyAl8cqmivojgt9iyIuoSKbvaCy5rsWgyDo</string>
	<key>GCM_SENDER_ID</key>
	<string>622592598362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ProyectoFinal.StudyGarden</string>
	<key>PROJECT_ID</key>
	<string>studygarden-50a05</string>
	<key>STORAGE_BUCKET</key>
	<string>studygarden-50a05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622592598362:ios:7ed9ed688653da78d39363</string>
	<key>DATABASE_URL</key>
	<string>https://studygarden-50a05.firebaseio.com</string>
</dict>
</plist>